In [1]:
import pandas as pd
df = pd.read_csv('citrus.csv')

In [2]:
#melihat overview dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

In [3]:
df

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [6]:
#ubah string ke tipe data numerik
#string 'orange' diubah menjadi 0
#string 'grape' diubah menjadi 1
df.name[df.name == 'orange'] = 0
df.name[df.name == 'grapefruit'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [7]:
df

     name  diameter  weight  red  green  blue
0       0      2.96   86.76  172     85     2
1       0      3.91   88.05  166     78     3
2       0      4.42   95.17  156     81     2
3       0      4.47   95.60  163     81     4
4       0      4.48   95.76  161     72     9
...   ...       ...     ...  ...    ...   ...
9995    1     15.35  253.89  149     77    20
9996    1     15.41  254.67  148     68     7
9997    1     15.59  256.50  168     82    20
9998    1     15.92  260.14  142     72    11
9999    1     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [8]:
#ubah dataframe ke numpy array supaya dapat diproses oleh model
dataset = df.values

In [9]:
dataset

array([[0, 2.96, 86.76, 172, 85, 2],
       [0, 3.91, 88.05, 166, 78, 3],
       [0, 4.42, 95.17, 156, 81, 2],
       ...,
       [1, 15.59, 256.5, 168, 82, 20],
       [1, 15.92, 260.14, 142, 72, 11],
       [1, 16.45, 261.51, 152, 74, 2]], dtype=object)

In [10]:
# pilih 4 kolom terakhir sebagai atribut
X = dataset[:,1:6]
# bilangan sebelum koma untuk memilih baris pada dataframe
# bilangan setelah koma untuk memilih kolom pada dataframe

In [11]:
#label
y = dataset[:,0]

In [12]:
# Normalization
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.        , 0.        , 0.74025974, 0.63529412, 0.        ],
       [0.07042254, 0.00738197, 0.66233766, 0.55294118, 0.01851852],
       [0.10822832, 0.04812589, 0.53246753, 0.58823529, 0.        ],
       ...,
       [0.93624907, 0.97133047, 0.68831169, 0.6       , 0.33333333],
       [0.96071164, 0.99216023, 0.35064935, 0.48235294, 0.16666667],
       [1.        , 1.        , 0.48051948, 0.50588235, 0.        ]])

In [13]:
# pisahkan data training dan testing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, y, test_size=0.3)

In [14]:
#ubah tipe data boolean ke float32 pada label
import numpy as np #sudah diimport di atas, hanya untuk belajar
 
Y_train = Y_train.astype(np.float32)
Y_test = Y_test.astype(np.float32)

MEMBANGUN MODEL JARINGAN SYARAF TIRUAN (JST)/NEURAL NETWORK

In [15]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
model = Sequential([    
                    Dense(32, activation='relu', input_shape=(5,)),    
                    Dense(32, activation='relu'),    
                    Dense(1, activation='sigmoid'),]) #Sigmoid memetakan probabilitas dari 0 ke 1, cocok untuk klasifikasi

In [17]:
model.compile(optimizer='sgd',
              loss='binary_crossentropy', #kasus binary classification
              metrics=['accuracy'])

In [18]:
model.fit(X_train, Y_train, epochs=100)

Epoch 1/100
219/219 [==============================] - 1s 2ms/step - loss: 0.6707 - accuracy: 0.7869
Epoch 2/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6425 - accuracy: 0.8897
Epoch 3/100
219/219 [==============================] - 0s 2ms/step - loss: 0.6034 - accuracy: 0.8990
Epoch 4/100
219/219 [==============================] - 0s 1ms/step - loss: 0.5425 - accuracy: 0.9077
Epoch 5/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4585 - accuracy: 0.9120
Epoch 6/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3692 - accuracy: 0.9163
Epoch 7/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2995 - accuracy: 0.9209
Epoch 8/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2549 - accuracy: 0.9206
Epoch 9/100
219/219 [==============================] - 0s 2ms/step - loss: 0.2285 - accuracy: 0.9211
Epoch 10/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2122 - accuracy: 0.9221
Epoch 11/100
219/219 [==============================] - 0s 1ms/step - loss: 0.2026 - accuracy: 0.9233
Epoch 12/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1967 - accuracy: 0.9246
Epoch 13/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1930 - accuracy: 0.9249
Epoch 14/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1899 - accuracy: 0.9253
Epoch 15/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1882 - accuracy: 0.9249
Epoch 16/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1867 - accuracy: 0.9257
Epoch 17/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1859 - accuracy: 0.9239
Epoch 18/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1853 - accuracy: 0.9257
Epoch 19/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1850 - accuracy: 0.9241
Epoch 20/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1847 - accuracy: 0.9250
Epoch 21/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1838 - accuracy: 0.9247
Epoch 22/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1838 - accuracy: 0.9246
Epoch 23/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1840 - accuracy: 0.9254
Epoch 24/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1839 - accuracy: 0.9237
Epoch 25/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1837 - accuracy: 0.9243
Epoch 26/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1830 - accuracy: 0.9246
Epoch 27/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1839 - accuracy: 0.9247
Epoch 28/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1833 - accuracy: 0.9251
Epoch 29/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1834 - accuracy: 0.9246
Epoch 30/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9246
Epoch 31/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9250
Epoch 32/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9250
Epoch 33/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1834 - accuracy: 0.9241
Epoch 34/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9256
Epoch 35/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1835 - accuracy: 0.9256
Epoch 36/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9243
Epoch 37/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1834 - accuracy: 0.9244
Epoch 38/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1832 - accuracy: 0.9259
Epoch 39/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1832 - accuracy: 0.9259
Epoch 40/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1830 - accuracy: 0.9241
Epoch 41/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1831 - accuracy: 0.9249
Epoch 42/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1823 - accuracy: 0.9263
Epoch 43/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9249
Epoch 44/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1833 - accuracy: 0.9239
Epoch 45/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1831 - accuracy: 0.9247
Epoch 46/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9247
Epoch 47/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1824 - accuracy: 0.9259
Epoch 48/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1830 - accuracy: 0.9233
Epoch 49/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1832 - accuracy: 0.9246
Epoch 50/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9249
Epoch 51/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9250
Epoch 52/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1823 - accuracy: 0.9250
Epoch 53/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1831 - accuracy: 0.9251
Epoch 54/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1828 - accuracy: 0.9253
Epoch 55/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1829 - accuracy: 0.9244
Epoch 56/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1828 - accuracy: 0.9261
Epoch 57/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9260
Epoch 58/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1828 - accuracy: 0.9254
Epoch 59/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1828 - accuracy: 0.9244
Epoch 60/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1826 - accuracy: 0.9244
Epoch 61/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1827 - accuracy: 0.9259
Epoch 62/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1824 - accuracy: 0.9256
Epoch 63/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9247
Epoch 64/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1826 - accuracy: 0.9250
Epoch 65/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1823 - accuracy: 0.9266
Epoch 66/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1824 - accuracy: 0.9251
Epoch 67/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1826 - accuracy: 0.9263
Epoch 68/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1816 - accuracy: 0.9250
Epoch 69/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1823 - accuracy: 0.9256
Epoch 70/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1823 - accuracy: 0.9243
Epoch 71/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1821 - accuracy: 0.9263
Epoch 72/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1827 - accuracy: 0.9241
Epoch 73/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1825 - accuracy: 0.9244
Epoch 74/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1819 - accuracy: 0.9256
Epoch 75/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1825 - accuracy: 0.9244
Epoch 76/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1822 - accuracy: 0.9256
Epoch 77/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1823 - accuracy: 0.9244
Epoch 78/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1825 - accuracy: 0.9251
Epoch 79/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1823 - accuracy: 0.9264
Epoch 80/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1824 - accuracy: 0.9240
Epoch 81/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1824 - accuracy: 0.9266
Epoch 82/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1818 - accuracy: 0.9259
Epoch 83/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1827 - accuracy: 0.9247
Epoch 84/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1821 - accuracy: 0.9249
Epoch 85/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1823 - accuracy: 0.9253
Epoch 86/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1823 - accuracy: 0.9254
Epoch 87/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1824 - accuracy: 0.9251
Epoch 88/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1825 - accuracy: 0.9249
Epoch 89/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1824 - accuracy: 0.9251
Epoch 90/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1823 - accuracy: 0.9254
Epoch 91/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1820 - accuracy: 0.9254
Epoch 92/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1821 - accuracy: 0.9256
Epoch 93/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1821 - accuracy: 0.9254
Epoch 94/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1814 - accuracy: 0.9263
Epoch 95/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1822 - accuracy: 0.9247
Epoch 96/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1819 - accuracy: 0.9249
Epoch 97/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1818 - accuracy: 0.9239
Epoch 98/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1821 - accuracy: 0.9254
Epoch 99/100
219/219 [==============================] - 0s 2ms/step - loss: 0.1816 - accuracy: 0.9263
Epoch 100/100
219/219 [==============================] - 0s 1ms/step - loss: 0.1820 - accuracy: 0.9250

In [19]:
model.evaluate(X_test, Y_test)
# elemen pertama adalah loss dan elemen kedua adalah akurasi

94/94 [==============================] - 0s 1ms/step - loss: 0.1655 - accuracy: 0.9350

[0.16546723246574402, 0.9350000023841858]